{% extends 'user/base.html' %}
{% block title %}Password Reset Request - PayTrack{% endblock %}
{% block content %}
<div class="mainContainer">
    <div class="flex-container">
        <div class="col-md-6">
            <div class="card">
                <h2 class="text-center mb-4">Password Reset Request</h2>
                
                

                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Enter your Email</label>
                        <input type="email" name="email" class="form-control" id="email" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Send Password Reset Link</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
